
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>CSS MenuMaker</title>
</head>
<div id='cssmenu'>
<ul>
  <li><a ><img name="menu-icon" src="../../../favicon.ico" style="width:45px;height:45px;"></a></li>
   <li class='active'><a href='#'>Profil</a></li>
   <li><a href='#'>Pacienti</a></li>
   <li><a href='#'>Doctori</a></li>
   <li><a href='#'>Contact</a></li>
</ul>
</div>
