<app-menu></app-menu>
<body>
    <div class="contacts">
<div class="card">
  <div class="container">
    <img src="../../../assets/images/Phone Icon.png" alt="Phone" style="width:50%">
    <h4><b>Telefon administrator</b></h4> 
    <p>0727898281</p>
  </div>
</div>
<div class="card">
    <div class="container">
        <img src="../../../assets/images/Gmail-icon.png" alt="Phone" style="width:50%">
      <h4><b>Email administrator</b></h4> 
      <p>admin@paciFind.ro</p>
    </div>
  </div></div>
</body>