/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
    display: block;
    border: 1px solid #ccc;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #5680b8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 7cm;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    /*padding: 16px;*/
    width: 30%;
    height:50%;
    margin: 0 auto;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }